.movimentacao {
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
padding-left: 30px;
  width: 100vw;
 }
.formMov{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 590px;
  margin-top: 50px;
 
}
.box1{

  display: flex;
  flex-direction: row;

}

.box2{
  
  display: flex;
  flex-direction: row;
}
form div{
  display:flex;
  flex-direction: column;
}
 input, label, select{
   margin:0 10px 2px 0px ;
   height: 24px;
 }
 select{
  height: 28px;
 }

 header{
   display: flex;
   }
 

 table, th, td{
   border: 1px solid #666;
   border-collapse: collapse;
   padding: 15px;
   margin-top: 40px;
   
 }

 tr{
   width: 300px;
   height: 50px;
 }

 .button-submit{
   position:relative;
   top: 28px;
 }

 .botao-deletar-atualizar{
   box-shadow: 0px 0px 2px rgb(1, 53, 23);
   border-radius: 2px;
   padding: 4px;
   cursor: pointer;
 }
